[Unit]
Description=Pulseaudio

[Service]
Type=forking
ExecStart=/usr/bin/pulseaudio -D
Restart=always
User=<my user with privs>

[Install]
WantedBy=multi-user.target
